@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary-color: #FF6060;
$secondary-color: #C4C4C4;
$white_color:#FFFFFF;
$background:#F6F6F6;
$font-text: 'Montserrat';
$tablets:768px;// Medium devices (tablets, 768px and up)
$pc:992px;// Large devices (desktops, 992px and up)
$font-regular :400;
$font-medium :500;
$font-bold :700;
