//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//$font-text: 'Roboto', sans-serif;
//$font-title: 'Shrikhand', cursive;
//$primary-color: #FF6060;
//$secondary-color: #C4C4C4;
//
//$font-text: 'Montserrat';
//$font-title: 'Shrikhand', cursive;
//$tablets:768px;// Medium devices (tablets, 768px and up)
//$pc:992px;// Large devices (desktops, 992px and up)
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$primary-color: #FF6060;
$secondary-color: #C4C4C4;
$font-text: 'Montserrat';
$tablets:768px;// Medium devices (tablets, 768px and up)
$pc:992px;// Large devices (desktops, 992px and up)
