@import '../../sass/utils/mixins.scss';
@import '../../sass/utils/variables';
*{
  list-style: none;
}

body{
  max-width: 95%;
  color: $primary-color;
  margin: auto;
  font-family: $font-text, DM+Sans, sans-serif;
  font-weight: $font-regular;
}
a{
  text-decoration: none;
}
