@import '../../sass/utils/variables';
.footer{
  padding: 10px 0 10px 0;
  background-color: #000000;
  color:$white_color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__text{
    font-size: 24px;
  }
}
