@import "../../sass/utils/mixins";
@import "../../sass/utils/variables";
.navbar {
  @include flex(row, space-between, center);
  padding: 10px 0 10px 0;
  &__log {
    width: 54px;
  }

  &__nav {
    &__link {
      margin-left: 57px;
      font-size: 24px;
      color: $primary-color;

      &.active {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}
