@import '../../sass/utils/variables';

.error-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color :$primary-color;
  &__404{
    font-size: 288px;
    font-weight: $font-bold;
    @media (max-width: $tablets) {
      font-size: 140px;
    }

  }
  &__text{
    font-size: 36px;
    padding-bottom: 180px;

  }
  &__link{
    font-size:18px;
    font-weight: $font-medium;
    color :$primary-color;
    &:hover{
      text-decoration: underline;
    }
  }

}
