@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";
.page-acceuil{
  margin: 0 30px 0 30px;
}
.logement{
  margin-top: 40px;
  background-color: $background;
  padding: 40px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap : 40px;
  @media (max-width: $tablets) {

    grid-template-columns: 1fr;
    padding: 0px;
    background-color: #FFFFFF;
    gap :20px;
  }
}
