@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  list-style: none;
}

body {
  color: #FF6060;
  margin: auto;
  font-family: "Montserrat", DMSans, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.banner {
  height: 223px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.banner__title {
  color: white;
  font-size: 48px;
  font-weight: 500;
  margin: 0 10px 0 10px;
}
@media (max-width: 768px) {
  .banner__title {
    text-align: left;
    font-size: 36px;
  }
}
.banner__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bannerAcceuil.png");
}
.banner__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bannerApropos.png");
}

.logement-card {
  border-radius: 10px;
  position: relative;
  max-height: 340px;
}
@media (max-width: 768px) {
  .logement-card {
    max-height: 280px;
  }
}
.logement-card__overlay {
  box-shadow: inset -1px -81px 84px -37px #000;
  inset: 0;
  position: absolute;
  border-radius: 10px;
}
.logement-card__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.logement-card__title {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-left: 7px;
  top: -77px;
}

.dropdown {
  margin-bottom: 16px;
}
.dropdown__title {
  font-size: clamp(8px, 3vw, 12px);
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  border-radius: 6px;
  margin: 0;
}
.dropdown__title h2 {
  padding: 12px;
  margin: 0;
  font-weight: 400;
}
.dropdown__title button {
  border: none;
  background: none;
  padding: 12px;
}
.dropdown__content {
  color: #FF6060;
  background-color: #F6F6F6;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.dropdown__content p {
  margin: 0;
  padding: 16px;
  font-size: clamp(16px, 3vw, 22px);
  font-weight: 400;
  line-height: 28px;
}
.dropdown__content ul {
  list-style: none;
  margin: 0;
  padding: 12px;
}
.dropdown__content ul li {
  font-size: clamp(16px, 3vw, 22px);
  font-weight: 400;
  margin: 0 0 8px 0;
}

.banner {
  height: 223px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.banner__title {
  color: white;
  font-size: 48px;
  font-weight: 500;
  margin: 0 10px 0 10px;
}
@media (max-width: 768px) {
  .banner__title {
    text-align: left;
    font-size: 36px;
  }
}
.banner__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bannerAcceuil.png");
}
.banner__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bannerApropos.png");
}

.footer {
  padding: 10px 0 10px 0;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__text {
  font-size: 24px;
}

.navbar {
  margin: 0 30px 0 30px;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}
@media (max-width: 768px) {
  .navbar {
    margin: 0 10px 0 10px;
  }
}
.navbar__log {
  width: 54px;
}
.navbar__nav__link {
  margin-left: 57px;
  font-size: 24px;
  color: #FF6060;
}
@media (max-width: 768px) {
  .navbar__nav__link {
    margin: 0 10px 0 0;
  }
}
.navbar__nav__link.active {
  border-bottom: 1px solid #FF6060;
}

.page-acceuil {
  margin: 0 30px 0 30px;
}

.logement {
  margin-top: 40px;
  background-color: #F6F6F6;
  padding: 40px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width: 768px) {
  .logement {
    grid-template-columns: 1fr;
    padding: 0px;
    background-color: #FFFFFF;
    gap: 20px;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #FF6060;
}
.error-page__404 {
  font-size: 288px;
  line-height: 10px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .error-page__404 {
    font-size: 140px;
  }
}
.error-page__text {
  font-size: 36px;
}
.error-page__link {
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
}
.error-page__link:hover {
  text-decoration: underline;
}

.about__main {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
}

.banner__about {
  margin-bottom: 15px;
}

.about__dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  width: 80%;
}
@media (max-width: 768px) {
  .dropdown {
    width: 100%;
  }
}

/*# sourceMappingURL=App.css.map */
